@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "nexaBold";
	src: url("../fonts/Nexa/nexaBold.eot");
	src: url("../fonts/Nexa/nexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexaBold.woff") format("woff"), url("../fonts/Nexa/nexaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "nexaLight";
	src: url("../fonts/Nexa/nexaLight.eot");
	src: url("../fonts/Nexa/nexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexaLight.woff") format("woff"), url("../fonts/Nexa/nexaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}